/node_modules
.xls

/.idea
/.idea/*
.idea/*

__*
/nbproject/private/

/nbproject/*

/public/pic
/uploads
/public/users/
/public/users/upload
/public/pilgrims/upload
/public/qrcode/

__*
/nbproject/private/

/nbproject/*

/uploads
/public/users/upload
/public/assets/scriptsimage-processing - Copy
/public/pilgrims/upload
/public/qrcode/*
/public/qrcode/
.idea/*
