html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}
.column p{clear:both;}
.layoutArea .column img{float:left;margin-right:10px;}
.wysiwygpretend{clear:both;}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
.row{
	/*margin-top:40px;*/
	padding:0 10px 0 15px;
	line-height: 15px;
}
.clickable{
	cursor: pointer;   
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.navbar-default {
    width: 75%;
    margin: 0 auto;
}
.printShow{visibility:hidden;}
.every_span{
    display:inline-grid;
}
.under_line{border-bottom:2px solid #000;font-weight:bold;color:#000;}
.under_line_blue{border-bottom:2px solid #337ab7;font-weight:bold;color:#337ab7;}
.wood_inspection ul, .wood_inspection ol{margin:0;padding:0;}
.wood_inspection .formcontrol.text_label,.wood_inspection .formcontrol.static,.wood_inspection .formcontrol.comment,.wood_inspection .formcontrol.textarea,.wood_inspection .formcontrol.image,.wood_inspection .formcontrol.text{margin-left:0;}
.wood_inspection .formcontrol.checkbox{margin-left:0px;margin:0;}
.shortcode{margin-left:0;}
.shortcode_show_list{
	color: brown;
    font-size: 15px;
    font-weight: bold;
}
#pagefooter{display:none;}
/*-------------- Copy from style.css up to end -------------*/
/*-------------- Start of Font css -------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
/* font-family: 'Raleway', sans-serif; */

@font-face {
  font-family: 'taptap_icon';
  src:  url('../fonts/taptap_icon.eot?rqydrd');
  src:  url('../fonts/taptap_icon.eot?rqydrd#iefix') format('embedded-opentype'),
    url('../fonts/taptap_icon.ttf?rqydrd') format('truetype'),
    url('../fonts/taptap_icon.woff?rqydrd') format('woff'),
    url('../fonts/taptap_icon.svg?rqydrd#taptap_icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'taptap_icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-settings:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-down_arrow:before {
  content: "\e902";
}
.icon-save:before {
  content: "\e903";
}
.icon-view:before {
  content: "\e904";
}
.icon-upload:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-section:before {
  content: "\e907";
}
.icon-subsection:before {
  content: "\e908";
}
.icon-checkbox:before {
  content: "\e909";
}
.icon-image:before {
  content: "\e90a";
}
.icon-comment:before {
  content: "\e90b";
}
.icon-textline:before {
  content: "\e90c";
}
.icon-instruction:before {
  content: "\e90d";
}
.icon-paragraph:before {
  content: "\e90e";
}
.icon-groupbox:before {
  content: "\e90f";
}
.icon-print:before {
  content: "\e910";
}
.icon-share:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}

/*-------------- End of Font css -------------*/

/*-------------- Start of global css -------------*/
a {
    color: #337ab7;
    text-decoration: none;
	outline:0;
}
.area {
  width: 100%;
  float: left;
}
.header.area,header.area{padding:0;}
a {
  outline: none !important;
}
a,button,input,textarea {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body {
  font-family: 'Raleway', sans-serif;
  background: #2f4052;
  background: -moz-linear-gradient(top,  #2f4052 0%, #0d1c2c 100%);
  background: -webkit-linear-gradient(top,  #2f4052 0%,#0d1c2c 100%);
  background: linear-gradient(to bottom,  #2f4052 0%,#0d1c2c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4052', endColorstr='#0d1c2c',GradientType=0 );
  min-height: 100vh;
}
a.btn-extra-large,
.btn-extra-large a,
button.btn-extra-large,
.btn-extra-large button,
input.btn-extra-large,
.btn-extra-large input {
  color: #ffffff !important;
  background: #9d1c1f !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 500 !important;
  text-align: center !important;
  width: 100% !important;
  max-width: 470px !important;
  padding: 46px !important;
  border-radius: 4px !important;
  display: inline-block !important;
  border: none !important;
}
a.btn-extra-large:hover,
.btn-extra-large a:hover,
button.btn-extra-large:hover,
.btn-extra-large button:hover,
input.btn-extra-large:hover,
.btn-extra-large input:hover,
a.btn-extra-large:focus,
.btn-extra-large a:focus,
button.btn-extra-large:focus,
.btn-extra-large button:focus,
input.btn-extra-large:focus,
.btn-extra-large input:focus {
  color: #ffffff !important;
  background: #7a1618 !important;
  text-decoration: none !important;
}
a.btn-taptap,
.btn-taptap a,
button.btn-taptap,
.btn-taptap button,
input.btn-taptap,
.btn-taptap input {
  color: #ffffff !important;
  background: #9d1c1f !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px;
  line-height: 30px !important;
  font-weight: 500 !important;
  text-align: center !important;
  padding: 0 20px !important;
  border-radius: 4px !important;
  display: inline-block !important;
  border: none !important;
}
a.btn-taptap:hover,
.btn-taptap a:hover,
button.btn-taptap:hover,
.btn-taptap button:hover,
input.btn-taptap:hover,
.btn-taptap input:hover,
a.btn-taptap:focus,
.btn-taptap a:focus,
button.btn-taptap:focus,
.btn-taptap button:focus,
input.btn-taptap:focus,
.btn-taptap input:focus {
  color: #ffffff !important;
  background: #7a1618 !important;
  text-decoration: none !important;
}
.page-title-header,
.page-title-body {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

/*-------------- End of global css -------------*/

.header {
  background: #ffffff;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}
.nav-icon,
.main-nav,
.site-logo,
.user-options {
  display: inline-block;
}
.nav-icon {
  float: left;
}
.nav-icon-btn {
	background: none;
	border: none;
	padding: 0;
  width: 40px;
  height: 27px;
  position: relative;
  margin-top: 17px;
}
.nav-icon-btn:focus{outline:none;}
.nav-icon-bar {
	width: 40px;
	height: 3px;
	background: #9d1c1f;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.4s;
}
.nav-icon-bar:first-child {
  top: 0;
}
.nav-icon-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%,-50%);
  margin-top: -1px;
}
.nav-icon-bar:nth-child(3) {
  bottom: 0;
}
.main-nav {
  float: left;
}
.site-logo {
  float: left;
  margin: 15px 50px 0 0;
}
.main-nav > ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.main-nav > ul li {
  display: inline-block;
}
.main-nav > ul li a {
  color: #9d1c1f;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  padding: 25px;
  text-decoration: none;
}
.main-nav > ul li a:hover,
.main-nav > ul li a:focus,
.main-nav > ul li a.active {
  color: #ffffff;
  background: #9d1c1f;
  text-decoration: none;
}
.user-options {
	float: right;
  margin-top: 20px;
}
.user-name {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
  bottom: -2px;
  text-transform: capitalize;
}
.user-options .dropdown {
  display: inline-block;
}
.btn-user {
  color: #9d1c1f;
  font-size: 40px;
  line-height: 40px;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline:0;
}
.user-options .dropdown-menu {
  background: #cbcfd4;
  border-radius: 8px;
  padding: 24px 4px;
  transition: all 0.4s;
	top: 63px;
  right: 0;
  left: auto;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.user-options .dropdown-menu::before {
  bottom: 100%;
	right: 9px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #cbcfd4;
	border-width: 10px;
}
.user-options .dropdown-menu li a {
  color: #9d1c1f;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 4px;
}
.user-options .dropdown-menu li a:hover,
.user-options .dropdown-menu li a:focus {
  color: #ffffff;
  background: #9d1c1f;
}
.dropdown, .dropup {
    position: relative;
}
main {
  padding: 30px 0 100px;
}
.box {
  width: 100%;
  background: #f7faff;
  float: left;
  padding: 30px;
  border-radius: 5px;
  position: relative;
}
.home-box {
  padding: 30px 30px;
}

.template-tab-nav {
  list-style: none;
  padding: 0;
  width: 100%;
  float: left;
  margin: 35px 0 14px;
}
.template-tab-nav li {
  width: 50%;
  float: left;
  padding-right: 30px;
}
.template-tab-nav li:last-child {
  padding-left: 15px;
}
.template-tab-nav li a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  pointer-events: none;
}
.template-tab-nav li a:hover,
.template-tab-nav li a:focus {
  color: #000000;
  text-decoration: none;
}
.template-tab-pane {
  width: calc(50% - 15px);
  float: left;
}
#shared_template {
  margin-right: 15px;
}
#your_template {
  margin-left: 15px;
}
.template-tab-pane-list {
  height: 400px;
  background: #ffffff;
  padding: 5px 0px;
  border-radius: 5px;
  overflow-y: auto;
}
.template-tab-pane-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.template-tab-pane-list ul li {
  margin-bottom: 24px;
}
.template-tab-pane-list ul li:last-child {
  margin-bottom: 0;
}
.template-tab-pane-list ul li,
.template-tab-pane-list ul li a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.template-tab-pane-list ul li a:hover,
.template-tab-pane-list ul li a:focus {
  color: #ffffff;
  text-decoration: none;
}
.btn-create-new {
  position: absolute;
  top: 35px;
  right: 30px;
}
.template-tab-pane .text-right {
  margin: 20px 0 0;
}
.template-tab-pane .text-right .btn-taptap {
  margin-left: 17px;
}
.edit-template-form {
  margin-top: 26px;
}
label {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 28px;
  display:initial;
}
.perform-inspection-box label{display:inline-block;}
.share-checkbox {
  margin-top: 10px;
}
.share-checkbox input[type='checkbox'] {
  display: none;
}
.share-checkbox label {
  padding-left: 36px;
  margin: 0;
  position: relative;
}
.share-checkbox label::before {
  content: "";
  height: 25px;
  width: 25px;
  border: 1px solid #9d1c1f;
  border-radius: 3px;
  position: absolute;
  top: -1;
  left: 0;
}
.share-checkbox label::after {
  content: "\f00c";
  font-family: FontAwesome;
  color: #9d1c1f;
  position: absolute;
  top: 1px;
  left: 5px;
  transform: scale(0,0);
  transition: all 0.3s;
}
.share-checkbox input[type='checkbox']:checked + label::after {
  transform: scale(1,1);
}
.edit-template-img {
  border-radius: 4px;
  overflow: hidden;
  margin-top: 27px;
}
.edit-template-img img#preview_image {
  width: 100%;
  height: 330px;
  object-fit: cover;
}
.btn-file-upload {
  color: #ffffff !important;
  background: #9d1c1f !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  text-align: center !important;
  padding: 0 20px !important;
  border-radius: 4px !important;
  display: inline-block !important;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.btn-file-upload:hover {
  background: #7a1618 !important;
}
#template_logo,#template_cover_logo {
  display: none;
}
.form-control {
  color: #000000;
  background: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  padding: 7px 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  height: auto;
  transition: all 0.3s;
}
.form-control:hover,
.form-control:focus {
  background: #ffffff;
  border-color: #9d1c1f;
}
.edit-template-form .text-right {
  margin-top: 20px;
}
.status-radios {
	margin-bottom: 20px;
}
.status-radios input[type="radio"] {
  display: none;
}
.status-radios label {
  padding-left: 38px;
  position: relative;
  margin-right: 70px;
}
.status-radios label::before {
  content: "";
  height: 24px;
  width: 24px;
  border: 1px solid #9d1c1f;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.status-radios label::after {
  content: "";
  height: 16px;
  width: 16px;
  background: #9d1c1f;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transform: scale(0,0);
  transition: all 0.3s;
}
.status-radios input[type="radio"]:checked + label::after {
  transform: scale(1,1);
}
.perform-inspection-form .btn-taptap {
  width: 100%;
  max-width: 370px;
}
.tool-box {
  background: #ffffff;
  padding: 10px 30px 10px 30px;
  width: 200px;
  border-radius: 4px;
  position: fixed;
}
.open-tool-box {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #9d1c1f;
  padding: 10px 20px;
  position: relative;
  width: 200px;
  margin: 0 0 0 -30px;
}
.open-tool-box::before {
  content: "\e913";
  font-family: 'taptap_icon';
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.open-tool-box::after {
  content: "\e902";
  font-family: 'taptap_icon';
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.open-tools.tool-box .open-tool-box {
  color: #000000;
  background: none;
}
.open-tools.tool-box .open-tool-box::before,
.open-tools.tool-box .open-tool-box::after {
  transform: translate(0, -50%) rotate(180deg);
}
.tool-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tool-box ul li {
  margin-bottom: 30px;
}
.tool-box ul li:last-child {
  margin-bottom: 0;
}
.tool-box ul li a {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  background: #9d1c1f;
  padding: 10px;
  border-radius: 4px;
}
.tool-box ul li a:hover,
.tool-box ul li a:focus {
  color: #ffffff;
  background: #5f0002;
  text-decoration: none;
}
.tool-box ul li a i {
  color: #ffffff;
  font-size: 19px;
  line-height: 19px;
  margin-right: 10px;
  position: relative;
  bottom: -2px;
}
.floating-actions {
  background: #ffffff;
  width: 220px;
  border-radius: 5px;
  position: fixed;
}
.floating-actions ul {
  list-style: none;
  padding: 4px 14px;
  margin: 0;
}
.floating-actions ul li {
  display: inline-block;
  margin-right: 10px;
}
.floating-actions ul li:last-of-type {
  margin: 0;
}
.floating-actions ul li a {
  color: #9d1c1f;
  font-size: 24px;
  line-height: 24px;
  padding: 7px;
  border-radius: 4px;
  display: inline-block;
}
.floating-actions ul li a:hover,
.floating-actions ul li a:focus {
  color: #ffffff;
  background: #7a1618;
  text-decoration: none;
}
.inspection-accordion {
  margin-top: 111px;
}
.inspection-accordion .panel {
  margin: 0 0 20px;
}
.inspection-accordion .panel-heading {
  background: none;
  padding: 0;
  border: none;
}
.inspection-accordion .panel-title,
.inspection-accordion .panel-title a.collapsed {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.inspection-accordion .panel-title a.collapsed {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
}
.inspection-accordion .panel-title a,
.inspection-accordion .panel-title a:hover  {
  color: #ffffff;
  background: #9d1c1f;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
}
.inspection-accordion .panel-title a,
.inspection-accordion .panel-title a.collapsed {
  position: relative;
}
.inspection-accordion .panel-title a:after,
.inspection-accordion .panel-title a.collapsed:after {
  content: "\e902";
  color: #9d1c1f;
  font-family: 'taptap_icon';
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.inspection-accordion .panel-title a:hover::after {
  color: #ffffff;
}
.inspection-accordion .panel-title a::after {
  color: #ffffff;
  transform: translate(0, -50%) rotate(180deg);
}
.inspection-accordion .panel {
  border: none;
  background: none;
}
.inspection-accordion .panel-body {
  padding: 10px 0 0 30px;
}
.inspection-accordion .panel-body .panel-body {
  padding: 15px;
}
.inspection-accordion .panel .panel {
  margin: 0 0 10px;
}
.inspection-accordion .panel .panel-group,
.inspection-accordion .panel .panel:last-child {
  margin: 0;
}

.open>.dropdown-menu {
    display: block;
}

.dropdown-toggle i:focus {
    outline: 0;
}
.user-logo-landing{
	width: 190px;
}
.image_outer_container{
margin-top: auto;
margin-bottom: auto;
border-radius: 50%;
position: relative;
}

.image_inner_container{
border-radius: 50%;
padding: 5px;
background: #833ab4; 
background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 3px solid white;
}

.image_outer_container .green_icon{
	background-color: #4cd137;
    position: absolute;
    right: 7px;
    bottom: 10px;
    height: 20px;
    width: 20px;
    border: 3px solid white;
    border-radius: 50%;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.inspector_type label{
	min-width: 149px;
    margin: 0;
    display: inline-block;
}

/* font-family: 'Raleway', sans-serif; */

@media (max-width: 1199px) {
  .site-logo {
  	margin: 15px 30px 0 0;
  }
  .main-nav > ul li a {
  	padding: 25px 15px;
  }
  .user-name {
  	display: none;
  }
  .edit-template-img img {
    height: 263px;
  }
}
@media (min-width:1025px) {
  .tool-box-head {
    display: none;
  }
}
@media (max-width:1024px) {
  .customize-templates {
    width: 100%;
    margin: 0;
    padding-top: 56px;
  }
  .tool-box-wrap {
    background: #e0e2e5;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 76px;
    z-index: 11;
  }
  .tool-box {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .tool-box ul {
    margin-top: 30px;
  }
  .floating-actions {
  	background: none;
  	position: relative;
  	float: right;
  	right: -20px;
  }
}
@media (max-width: 991px) {
  .site-logo {
  	margin: 15px 30px 15px 0;
  }
  .main-nav {
    max-width: 650px;
  }
  .main-nav > ul li a {
  	padding: 15px;
  }
  .user-options {
  	margin-top: 77px;
  }
  .user-options .dropdown-menu {
  	top: 55px;
  }
}
@media (min-width: 768px) {
  .nav-icon,
  .page-title-header {
    display: none;
  }
}
@media (max-width: 768px) {
  .col-sm-8.col-sm-offset-2 {
    width: 100%;
  	margin: 0;
  }
  .tool-box-wrap {
  	top: 125px;
  }
}
@media (max-width: 767px) {
  .page-title-header {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  }
  .nav-icon-close .nav-icon-bar:first-child {
  	transform: rotate(45deg);
  	left: 0;
  	top: 11px;
  }
  .nav-icon-close .nav-icon-bar:nth-child(2) {
    opacity: 0;
  }
  .nav-icon-close .nav-icon-bar:nth-child(3) {
  	transform: rotate(-45deg);
  	left: 0;
  	bottom: 13px;
  }
  .main-nav {
    background: #cbcfd4;
    padding: 15px;
    max-width: 275px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 60px;
    left: -275px;
    z-index: 111;
    transition: all 0.4s;
  }
  .main-nav.nav-open {
    left: 0;
  }
  .main-nav > ul li,
  .main-nav > ul li a {
  	display: block;
  }
  .user-options {
    margin: 10px 0;
  }
  .add-templates-box {
    position: static !important;
  }
  .btn-create-new {
  	position: absolute;
  	top: 30px;
  	right: auto;
  	left: 50%;
    transform: translate(-50%,0);
  }
  .page-title-body {
    display: none;
  }
  .template-tab-pane,
  #shared_template,
  #your_template {
    width: 100%;
    margin: 0;
  }
  .template-tab-nav {
    border-radius: 4px;
    overflow: hidden;
    margin: 55px 0 20px;
  }
  .template-tab-nav li {
    padding: 0 !important;
  }
  .template-tab-nav li a {
  	color: #ffffff;
    text-align: center;
  	background: #9d1c1f;
  	display: block;
  	padding: 10px 25px;
    pointer-events: auto;
  }
  .template-tab-nav li a:hover,
  .template-tab-nav li a:focus {
    color: #ffffff;
    background: #7a1618;
  }
  .template-tab-nav li a.active-tab {
    color: #ffffff;
  	background: #5f0002;
    pointer-events: none;
  }
  .template-tab-pane-active {
    position: relative;
    z-index: 1;
  }
  .box {
    padding: 20px;
  }
  .edit-template-form,
  .edit-template-img {
    margin-top: 0;
  }
  .tool-box-wrap {
  	top: 60px;
  }
  .status-radios {
  	text-align: center;
  }
  .status-radios label {
  	margin: 28px 30px 0;
  }
}
@media (max-width:479px) {
  .page-title-header {
    font-size: 16px;
    line-height: 27px;
  }
  .tool-box-wrap {
  	padding-bottom: 65px;
  }
  .tool-box {
  	top: 70px;
  	left: 50%;
  	transform: translate(-50%,0);
    padding: 0;
  }
  .tool-box ul {
    background: #ffffff;
    padding: 0 30px 0 30px;
    max-height: 300px;
    overflow-y: auto;
  }
  .tool-box ul li:last-child {
    margin-bottom: 30px;
  }
  .floating-actions {
  	float: none;
  	margin: 0 auto;
  	right: 0;
  }
  .open-tool-box {
    margin: 0;
  }
}