.mobile-form-builder-menu{display:none;border-top: 10px solid #fff;}
.mobile-view-user{line-height: 46px;}
.desktop-view-user{line-height: 46px;}
.mobile-view-user a,.desktop-view-user a{text-decoration:none;}
.navbar-header .icon {
	display:none;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration:none;
	font-size: 30px;
    color: #000;
    font-weight: bolder;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse.in {
    display: block;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav:after, .nav:before {
    display: table;
    content: " ";
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}
@media only screen and (min-width:992px){
	.navbar-toggle {
		display: none;
	}
	.mobile-view-user{display:none;}
	.desktop-view-user{float:right;}
	.container>.navbar-collapse, .container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.navbar-toggle {
		display: none;
	}
	.mobile-view-user{display:none;}
	.desktop-view-user{float:right;}
	.container>.navbar-collapse, .container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.navbar-toggle {
		display: none;
	}
	.mobile-view-user{display:none;}
	.desktop-view-user{float:right;}
}
@media only screen and (max-width: 991px){}
@media only screen and (max-width: 767px){
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
	#navbar{position:relative;clear: both;}
	.navbar-header .icon {
		float: right;
		display: block;
	}
	#navbar ul li,.navbar-nav{float:none;}
	.collapse {
		display: none;
	}
	.collapse {
		display: none;
	}
	.navbar-nav {
		margin: 7.5px -15px;
	}
}
@media only screen and (max-width: 600px){}
@media only screen and (max-width: 480px){
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
	#navbar{position:relative;clear: both;}
	.navbar-header .icon {
		float: right;
		display: block;
	}
	#navbar ul li,.navbar-nav{float:none;}
	.collapse {
		display: none;
	}
	.collapse {
		display: none;
	}
	.navbar-nav {
		margin: 7.5px -15px;
	}
}
@media only screen and (max-width: 390px){
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
	#navbar{position:relative;clear: both;}
	.navbar-header .icon {
		float: right;
		display: block;
	}
	#navbar ul li,.navbar-nav{float:none;}
	.collapse {
		display: none;
	}
	.collapse {
		display: none;
	}
	.navbar-nav {
		margin: 7.5px -15px;
	}
}
@media only screen and (max-width: 320px){
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
	#navbar{position:relative;clear: both;}
	.navbar-header .icon {
		float: right;
		display: block;
	}
	#navbar ul li,.navbar-nav{float:none;}
	.collapse {
		display: none;
	}
	.collapse {
		display: none;
	}
	.navbar-nav {
		margin: 7.5px -15px;
	}
}

