.mobile-form-builder-menu{display:none;border-top: 10px solid #fff;}
@media only screen and (min-width:992px){
	.navbar-toggle {
		display: none;
	}
	.mobile-view-user{display:none;}
	.desktop-view-user{float:right;}
	.container>.navbar-collapse, .container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.navbar-toggle {
		display: none;
	}
	.mobile-view-user{display:none;}
	.desktop-view-user{float:right;}
	.container>.navbar-collapse, .container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.navbar-toggle {
		display: none;
	}
	.mobile-view-user{display:none;}
	.desktop-view-user{float:right;}
}
@media only screen and (max-width: 991px){}
@media only screen and (max-width: 767px){
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
}
@media only screen and (max-width: 600px){}
@media only screen and (max-width: 480px){
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
}
@media only screen and (max-width: 390px){
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
}
@media only screen and (max-width: 320px){
	
	.mobile-view-user{float:left;padding: 3px 5px;}
	.desktop-view-user{display:none;float:right;}
	.desktop-form-builder-menu{display:none;}
	.mobile-form-builder-menu{display:block;}
	.controlholder.sing{padding:0;margin:0;}
	.area {padding:2px;}
	.toptools{left:170px;right:inherit;}
}

