body {
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 7px;
}
@page {
	size: auto;   /* auto is the initial value */
	margin:0;  /* this affects the margin in the printer settings */
	margin-top:5px;
	margin-bottom:3px;
	margin-left:15px;
	margin-right:15px;
	size: Letter Portrait;
}
@media print {
  body {
    width: 8.5in;
    height: 11in;
  }
  /* etc */
}
@page:right{
    @bottom-left {
        margin: 10pt 0 10pt 0;
        border-top: .25pt solid #666;
        content: "Our Cats";
        color: #333;
    }
    @bottom-right {
        margin: 10pt 0 10pt 0;
        border-top: .25pt solid #666;
        content: counter(page);
    }
    @top-right {
        content:  string(doctitle);
        margin: 10pt 0 10pt 0;
        color: #333;
    }
}
@page:first {
    @bottom-right {
        content: normal;
        margin: 0;
    }
    @bottom-left {
        content: normal;
        margin: 0;
    }
}
@page:left {
    @bottom-right {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: "Our Cats";
        color: #333;
    }
    @bottom-left {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: counter(page);
    }
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-sm-1 {
    width: 8.33333333%;
}
.col-sm-2 {
    width: 16.66666667%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    width: 33.33333333%;
}
.col-sm-5 {
    width: 41.66666667%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-7 {
    width: 58.33333333%;
}
.col-sm-8 {
    width: 66.66666667%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-12 {
    width: 100%;
}
.tap__input_set {
    margin:0;
}
.h2{
    margin-top: 10px!important;
    margin-bottom:3px!important;
}
.tap__raw_form_body {
    padding-bottom:0px;
}
.tap__scope_instruction ol li span {
    color: red !important;
}
b, strong {
    font-weight: normal!important;
}
.tap__scope_instruction ol li{line-height:12px;}
.pagefooter,#previewContent{display:block;}
.input_control{font-size:10px;font-weight:bold;}
.input__no,.tap__input_field label,.tap__address p{font-size:10px;}
.tinymceWoodMainDiv{display:none;}
#woodImgItem{margin: 0 auto;}
.bold-text{font-weight:bold !important;}
.email-link{color:#2B658A !important;}