body{
  font-family:sans-serif;
}
h1,h2,h3,h4,h5,h6,p,div,body{
  margin: 0;
  padding: 0;
  outline: 0;
}
.container{
  width:90%;
  margin:Auto;
}
header{
  padding:30px 20px;
  display: flex;
  justify-content: center;
}
.logo{
  height:100px;
}
.headercontent{
  display: flex;
  align-items: center;
  padding:20px;
  box-sizing: border-box;
}
/*GRID*/
.row{
  display:flex;
}
.col{
  flex:1;
  padding:10px 25px;
  box-sizing: border-box;
}
.control{
  margin:10px 0px;
  border:0.5px solid #eee;
}
.flex{
  display:flex;
}
.flexcenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*file input*/
.fileinput{
  position:absolute;
  width:60px;
  height:60px;
  background:#54D185;
  border-radius:50%;
  right:30px;
  top:30px;
}
.fileinput input{
  opacity:0;
  display:block;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
/*Standard form fields*/
.stdfields{
  width:100%;
}
.fieldrow{
  display:flex;
  width:100%;
}
.fieldcol{
  flex:1;
}
.fieldrow.bordered{
  margin-top:30px;
}
.fieldrow.bordered .fieldcol{
  padding:20px;
}
.fieldcol input{
  display:block;
  padding:5px;
  width: 100%;
  margin:20px 0px;
}
.clogoholder{
  position: relative;
  min-height:110px;
  width:100%;
}
.companylogo{
  max-width: 100%;
  height:auto;
}
.companylogo[alt]::before{
  width:100%;
  height:100px;
  background:#CCC;
  color:#fff;
  content:"CLICK TO CHANGE";
  font-size:2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.prepareddate{
  margin-top:40px;
}
.text-center{
  text-align: center;
}
.reporttitle{
  margin:30px 0px;
}
.bordered{
  border:0.5px solid #ddd;
}