body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
}
@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
    margin-top: 30px;
	margin-bottom:50px;
}

#drlistDivTbl,#printAreaDiv {
    margin-left: 20px;
    margin-right: 20px;
}
.page-break{page-break-after: always;}


table.table-bordered tbody td.course-field {
    border-top: 0;
}
.actions{width:0;height:0;}
.documentHides{display:none;width:0;height:0;margin: 0;}
.fa{display:none;}
.wysiwygpretend,.imgcomment{display:none;}
.printShow{visibility:visible;}
.section-false{display:none;}
.section-.ng-hide,.commentBoxItem.ng-hide,.commentCheckbox{display:none;}
/*input[type='checkbox'] {display:none;}*/
.print_pdf_footer,.viewHide,#fullReportPrint{display:block!important;}
.report-table{width:100%;display:table!important;}
.mainSection:first-child{display:block!important;}
.ng-empty,.showing-false{display:none!important;}
.ng-empty + label{display:none!important;}
.chk-label-,.chk-label-false{display:none!important;}
.top-ins.ng-empty{display:inline-block!important;}
/*.ng-empty + label{display:none;}*/
.ng-binding.ng-hide{display:none;}
/*.add_comment_false img.imggap{display:none;}*/
.not_required_true, .not_required_true img.imggap{display:none;}
.display-checkbox{display:none;}
/*for chrome*/
.under_line {
    border-bottom: 2px solid #000;
    font-weight: bold;
    color: #000;
}
.every_span {
    display: inline-grid;
}
.inspector_type label {
    min-width: 149px;
    margin: 0;
    display: inline-block;
}
.formcontrol p {
    margin: 0px 0px 5px 0px;
}
.row {
    padding: 0 5px 10px 5px;
}
.print_pdf_footer{width:250px;margin:15px auto;font-size:18px;display:none;}
.mainSection:nth-child(2) .shortcode{text-align:center;}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    #drlistDivTbl,#printAreaDiv {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0;
    }
}